.container {
    width: 400px;
}

.search_input_container {
    display: flex;
    flex-direction: row;
    width: 90%;
    -webkit-appearance: none;
    background: rgba(255, 255, 255, 0.1);
    padding: 1px;
    border-radius: 32px;
}

.search_input {
    color: white;
    width: 100%;
    -webkit-appearance: none;
    border:none;
    outline: none;
    background-color: rgba(240, 248, 255, 0);
}

.search_icon {
    position: inherit;
    margin: 5px;
}
