.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 8px;
  width: 99%;
}

.container {
  display: flex;
  flex-direction: column;
    text-align: center;
  align-items: center;
  justify-content: center;
}